{% extends 'base.html.twig' %}

{% block title %}Symfony{% endblock %}

{% block body %}
 <h1>Bienvenue sur mon premier site Web réalisé avec Symfony</h1>
 <h3> Réalisé par : Alberto oviedo </h1>
{% endblock %}
