{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<h1>Detail du produit : {{produit.produit}}</h1>
<p>Description: {{produit.description}}</p>
<p>Prix : {{produit.prix}}</p>
{% endblock %}
