{% block header %}
<ul>
    <li><a href='http://localhost:8000/'>Accueil</a></li>
    <li><a href='http://localhost:8000/produits'>Produits</a></li>
    <li><a href='http://localhost:8000/contact'>Contact</a></li>
</ul>
</br>
{% endblock %}